@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";

body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: darkslategray;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

pre {
    line-height: 1em;
}

.text9 {
    font-size: 0.9em;
}

.text14 {
    font-size: 1.1em;
}

.text15 {
    font-size: 1.2em;
}

.text15b {
    font-size: 1.2em;
    font-weight: bold;
}

.main TABLE	{ table-border: 0;	border-bottom: 1px solid #7c82a4; }
.main TD	{ border-top: 1px solid #7c82a4;	vertical-align: top; }
.main TH	{ border: #7c82a4; }
.main A:link	{ color: #0031ce; }
.main A:visited	{ color: #0031ce; }
.main A:hover	{ color: white; }
.title		{ color: #ff4500; }

h4		{ color: #ff4500; }

.pr_str {
    font-size: 1em;
    width: 0.9em;
    height: 1.1em;
}

.blink { color: red;
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

.tribune li {
    background: #1e2a64;
    color: whitesmoke;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    margin-top: 4px;
    white-space: pre-wrap;
}

.tribune b { color: yellow; }

.hidden { display: none; }
.blue { color: blue;	font-weight: bold; }
.magenta { color: magenta;	font-weight: bold; }
.red { color: red;	font-weight: bold; }

.navbar {
    padding: 15px 10px;
    background: midnightblue !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    border-radius: 0.25rem;
}

.navbar-nav {
    padding-top: 10px;
}

#navbarFlag {
    width: 63px;
    height: 42px;
    background: whitesmoke;
    background-size: 100%;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-left: 15px;
    display: none !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.nav-item {
    padding-left: 5px;
}
.nav-item .noplay	{ color: lightgrey; }
.nav-item .toolate	{ color: red; }
.nav-item .alarm	{ color: coral; }
.nav-item .absent	{ color: yellow; }
.nav-item .playing	{ color: cyan; }
.nav-item .present	{ color: lightgreen; }
.nav-item .result	{ color: white; }
.nav-item A:hover	{ color: gold; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    order: 1;
    min-width: 250px;
    max-width: 250px;
    background: #1e2a64;
    color: gold;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.collapsed {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1e2a64;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: gold;
    padding: 10px;
}

#sidebar ul li a {
    padding: 5px 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1e2a64;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: gold;
    background: #1e2a64;
}

.flag {
    width: 21px;
    height: 14px;
    border: 1px solid lightgrey;
    margin-right:10px;
}

.tlinks {
    padding-left: 20px !important;
}

.tlinks a {
    padding: 0 10px !important;
    font-size: 1.0em !important;
    display: inline !important;
}

.tlinks a span{
    font-family:monospace;
    font-size: 1.2em !important;
}

#rightbar {
    order: 3;
    min-width: 250px;
    max-width: 250px;
    background: #1e2a64;
    color: gold;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom right;
}

#rightbar.active {
    margin-right: -250px;
    transform: rotateY(-116deg);
}

#rightbar .rightbar-header {
    padding: 20px;
    background: #1e2a64;
}

#rightbar ul.components {
    padding: 20px 0;
}

#rightbar ul p {
    color: gold;
    padding: 10px;
}

#rightbar ul li a {
    padding: 5px 10px;
    font-size: 1.1em;
    display: block;
}

#rightbar ul li a:hover {
    color: #1e2a64;
    background: #fff;
}

#rightbar ul li.active > a, a[aria-expanded="true"] {
    color: gold;
    background: #1e2a64;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #1e2a64;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    order: 2;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.header {
    color: gold;
    background: #1e2a64;
    text-align: center;
    padding: 20px 0 1px 0;
}

.main {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

.footer {
    background: #1e2a64;
    text-align: center;
    padding: 40px 0 20px 0;
}

.footer p {
    font-size: 0.9em;
    color: lightblue;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: whitesmoke;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.collapsed span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#rightbarCollapse {
    width: 40px;
    height: 40px;
    background: whitesmoke;
    cursor: pointer;
    margin-left: 15px;
}

#rightCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
}

#rightbarCollapse.active span {
    content: "";
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#rightbarIconUser {
    display: none;
}

#rightbarIconUserX {
    display: block;
}

#inlineEditor {
    width: 40px;
    height: 40px;
    background: whitesmoke;
    cursor: pointer;
    margin-left: 15px;
}

#inlineEditor span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
}

#saveIcon {
    display: none;
}

#editIcon {
    display: block;
}

/* ---------------------------------------------------
    SCROLL TO TOP
----------------------------------------------------- */
.scrollToTop{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 25px;
    z-index: 99;
    font-size: 48px;
    color: lightblue;
    opacity: 0.5;
}
.scrollToTop:hover{
    color: whitesmoke;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 991px) {
    .header {
        display: none;
    }
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #navbarFlag {
        display: inline-block !important;
    }
}
@media (max-width: 1279px) {
    #rightbar {
        margin-right: -250px;
        transform: rotateY(-116deg);
    }
    #rightbar.active {
        margin-right: 0;
        transform: none;
    }
    #rightbarIconUser {
        display: block;
    }
    #rightbarIconUserX {
        display: none;
    }
}

/* ---------------------------------------------------
    POPUPS
----------------------------------------------------- */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}
.overlay:target {
    display: block;
}
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 1000;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
.popup-show,
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
.popup img {
    width: 100%;
    height: auto;
}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}
.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}
.pl-left {
    float: left;
    margin: 5px 18px 5px 0;
}
@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }.
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
.mmask {
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:999;
    display:none;
    background-color: rgba(0, 0, 0, 0.65);
    position:fixed;
    cursor:default;
}
.mwindow {
    position:absolute;
    left:0;
    top:0;
    width:600px;
    display:none;
    z-index:1000;
    padding:20px;
    background-color:#ffffff;
    border:1px solid #383838;
    background:#fefefe;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius:4px;
    font:14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}

/* ---------------------------------------------------
    PROGNOZ
----------------------------------------------------- */
.b-cyan	{ background-color: cyan;	font-weight: bold;}
.b-lime	{ background-color: lime;	font-weight: bold;}
.b-yell	{ background-color: yellow;	font-weight: bold;}
.p-head	{ font-size: 1.2em;	font-weight: bold;	text-align:center; }
.p-hint	{ text-align:center; }
.p-left	{ position: relative;	float: left; }
.p-table{ font-size: 1.1em;	margin: 20px; }
.s-hname{ text-align: left;	font-weight: bold;	padding-left: 12px; }
.s-name	{ text-align: left;		font-size: 0.9em;	padding-left: 12px; }
.s-num	{ text-align: right;		font-size: 0.9em;	padding-right: 12px; }
.s-spacer{ min-width: 60px; }
.s-table{ margin: 20px; }
#mt	{ padding-top: 1px;		font-weight: normal;	margin-right: 20px }
#mt A	{ display: inline-block;	margin-top: 5px }

/* ---------------------------------------------------
    LIVESCORE.BZ
----------------------------------------------------- */
.tablex {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 0px 0px;
	width: 100%;
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
}
.loaderP { justify-content: space-around;	align-items: center;	display: flex;}
.loader {
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid blue;
	border-right: 3px solid green;
	border-bottom: 3px solid red;
	border-left: 3px solid pink;
	width: 15px;
	height: 15px;
	-webkit-animation: spinbz 2s linear infinite;
	animation: spinbz 2s linear infinite;
	margin-top: 1px;
	margin-bottom: 0px;
}
@-webkit-keyframes spinbz {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spinbz {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.det {padding:0px;font-size:92%}
.det table tr td {background-color:lavender;color:black;vertical-align: middle; border-width: 0px 0px 0px 0px !important;}
.det table tr td em {opacity: 0.5;}
.det img {max-height: 12px; border-width: 0px 0px 0px 0px;display: inline-block;width: auto;margin: 0px 0px;float: none !important;}
.det table td:nth-child(2) {text-align: center !important;}
.det .min {width:36px}
.det .side {width:47%}
.det .center {width:6%;text-align:center}
.det .left {float:left;text-align:left}
.det .right {float:right;text-align:right}

.monospace {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1;
	width: 100%;
}
