@import "https://fonts.googleapis.com/css?family=Knewave|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext";
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: darkslategray;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

pre {
    line-height: 1em;
}

.text9 {
    font-size: 0.9em;
}

.text14 {
    font-size: 1.1em;
}

.text15 {
    font-size: 1.2em;
}

.text15b {
    font-size: 1.2em;
    font-weight: bold;
}

/*
.main TABLE	{ table-border: 0;	border-bottom: 1px solid #7c82a4; }
.main TD	{ border-top: 1px solid #7c82a4;	vertical-align: top; }
.main TH	{ border: #7c82a4; }
*/
.main A:link	{ color: #0031ce; }
.main A:visited	{ color: #0031ce; }
.main A:hover	{ color: white; }
.title		{ color: #ff4500; }
h4		{ color: #ff4500; }
.tdl		{padding:0 25px}
.tdn		{text-align:right; padding-right:20px}
.td1		{text-align:right; padding-right:10px}
.tdr		{text-align:right; padding-right:35px}

.pr_str {
    font-size: 1em;
    width: 0.9em;
    height: 1.1em;
    box-sizing: content-box;
}

.blink { color: red;
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

.tribune li {
    background: #1e2a64;
    color: whitesmoke;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    margin-top: 4px;
    white-space: pre-wrap;
}

.tribune b { color: yellow; }

.hidden { display: none; }
.blue { color: blue;	font-weight: bold; }
.magenta { color: magenta;	font-weight: bold; }
.red { color: red;	font-weight: bold; }

mark { font-weight: bold;	background-color: yellow;	padding: 0; }

.navbar {
    padding: 0 0;
    background: midnightblue;
    background-image: url(/images/navb3.jpg);
    background-repeat: repeat-x;
    background-position-x: left;
    background-position-y: top;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar .container-fluid {
    padding: 0 0;
}

.navbar-btn {
    margin: 10px 0;
    min-width: 40px;
    box-shadow: none;
    outline: none !important;
    border: none;
    border-radius: 0.25rem;
}

.navbar-btn-icon {
    padding-top: 0.1rem;
    padding-left: 0.1rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 0.9rem;
}

/*
.navbar-nav {
    padding-top: 10px;

}
*/

#navbarFlag {
    width: 63px;
    height: 42px;
    background: whitesmoke;
    background-size: 100%;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-left: 15px;
    display: none !important;
}

.tour-tabs {
    margin-bottom: 20px;
}
.nav-tabs {
    border-bottom: 1px solid darkgrey;
}
.nav-tabs .nav-link {
    border: 1px solid darkgrey;
    background: aliceblue;
}
.nav-tabs .nav-link.active {
    border-color: darkgrey;
}
.nav-tabs .nav-link.disabled {
    border-color: grey;
}

#navbarMyTours.show {
/*
    margin-top: 4px;
    padding-bottom: 10px;
*/
    background: #1e2a64;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.nav-item {
    padding-left: 5px;
}
.nav-item .noplay	{ color: lightgrey; }
.nav-item .toolate	{ color: red; }
.nav-item .alarm	{ color: coral; }
.nav-item .absent	{ color: yellow; }
.nav-item .playing	{ color: cyan; }
.nav-item .present	{ color: lightgreen; }
.nav-item .result	{ color: white; }
.nav-item A:hover	{ color: gold; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    order: 1;
    min-width: 250px;
    max-width: 250px;
    background: #1e2a64;
    background-image: url(/images/left1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    color: gold;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    //background: #1e2a64;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: gold;
    padding: 10px;
}

#sidebar ul li a {
    padding: 5px 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1e2a64;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: gold;
    //background: #1e2a64;
}

.flag {
    width: 21px;
    height: 14px;
    border: 1px solid lightgrey;
    margin-right:10px;
}

.tlinks {
    padding-left: 20px !important;
}

.tlinks a {
    padding: 0 10px !important;
    font-size: 1.0em !important;
    display: inline !important;
}

.tlinks a span{
    font-family:monospace;
    font-size: 1.2em !important;
}

#rightbar {
    z-index: 2;
    order: 3;
    min-width: 250px;
    max-width: 250px;
    background: #1e2a64;
    background-image: url(/images/right1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    color: gold;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    //transform-origin: bottom right;
    transform-origin: top left;
}

#rightbar.active {
    z-index: 2;
    margin-right: -250px;
    transform: scaleX(0);
    //transform: rotateY(-116deg);
}

#rightbar .rightbar-header {
    padding: 20px;
    //background: #1e2a64;
}

#rightbar ul.components {
    padding: 20px 0;
}

#rightbar ul p {
    color: gold;
    padding: 10px;
}

#rightbar ul li a {
    padding: 5px 10px;
    font-size: 1.1em;
    display: block;
}

#rightbar ul li a:hover {
    color: #1e2a64;
    background: #fff;
}

#rightbar ul li.active > a, a[aria-expanded="true"] {
    color: gold;
    //background: #1e2a64;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    //background: #1e2a64;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    order: 2;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.header {
    height: 62px;
    color: gold;
    background: #1e2a64;
    background-image: url(/images/head1.jpg);
    background-repeat: repeat-x;
    background-position: left;
    text-align: center;
    padding: 20px 0 1px 0;
}

.main {
    width: 100%;
    padding: 0 12px 20px 12px;
    min-height: 100vh;
}

.footer {
    background: #1e2a64;
    text-align: center;
    padding: 40px 0 20px 0;
}

.footer p {
    font-size: 0.9em;
    color: lightblue;
}

#sidebarCollapse {
    min-width: 40px;
    height: 40px;
    background: whitesmoke;
    cursor: pointer;
    margin-left: 15px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.collapsed span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
#btnMyTours {
    margin-right: 15px;
}

#rightbarCollapse {
    min-width: 40px;
    height: 40px;
    background: whitesmoke;
    cursor: pointer;
    margin-left: 15px;
}
/*
#rightbarCollapse.active span {
    content: "";
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
*/
#rightbarIconUser {
    display: none;
}

#rightbarIconUserX {
    display: block;
}

#inlineEditor, #ConfigEditor, #EditLink, #SubmitForm {
    width: 40px;
    height: 40px;
    background: whitesmoke;
    cursor: pointer;
    margin-left: 15px;
}

#saveIcon {
    background: orangered;
    color: whitesmoke;
    display: none;
}

#postForm {
    background: orangered;
    color: whitesmoke;
    display: block;
}

#saveCfgIcon {
    background: orangered;
    color: whitesmoke;
    display: block;
}

#editIcon {
    display: block;
}

#sendMail {
    width: 40px;
    height: 40px;
    background: whitesmoke;
    cursor: pointer;
    margin-left: 15px;
}

#sendIcon {
    background: orangered;
    color: whitesmoke;
    display: none;
}

#mailIcon {
    display: block;
}

/* ---------------------------------------------------
    SCROLL TO TOP
----------------------------------------------------- */
.scrollToTop{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 25px;
    z-index: 99;
    font-size: 48px;
    color: lightblue;
    opacity: 0.5;
}
.scrollToTop:hover{
    color: whitesmoke;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
#mt1 {
    max-width: 480px;
    float: right;
}
@media (max-width: 1600px) {
    #mt1 {
        float: none;
        align-items: center;
    }
}
@media (max-width: 992px) {
    .header {
        display: none;
    }
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #navbarFlag {
        display: inline-block !important;
    }
}
@media (max-width: 1200px) {
    #rightbar {
        z-index: 2;
        margin-right: -250px;
        transform: scaleX(0);
        //transform: rotateY(-116deg);
    }
    #rightbar.active {
        z-index: 2;
        margin-right: 0;
        transform: none;
    }
    #rightbarIconUser {
        display: block;
    }
    #rightbarIconUserX {
        display: none;
    }
}

/* ---------------------------------------------------
    PROGNOZ
----------------------------------------------------- */
.mt-res { display: inline; float: right; width: 100px; margin-left: 5px; }
.b-cyan	{ background-color: cyan;	font-weight: bold; }
.b-lime	{ background-color: lime;	font-weight: bold; }
.b-pink	{ background-color: pink;	font-weight: bold; }
.b-yell	{ background-color: yellow;	font-weight: bold; }
.s-hname{ text-align: left;	font-weight: bold;	padding-left: 12px; }
.s-name	{ text-align: left;		font-size: 0.9em;	padding-left: 12px; }
.s-num	{ text-align: right;		font-size: 0.9em;	padding-right: 12px; }
.s-spacer{ min-width: 60px; }
.s-table{ margin: 20px; }
#mt	{
	white-space:pre;
	width:33%;
}

/* ---------------------------------------------------
    LIVESCORE.BZ
----------------------------------------------------- */
.tablex {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 0px 0px;
	width: 100%;
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
}
.loaderP { justify-content: space-around;	align-items: center;	display: flex;}
.loader {
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid blue;
	border-right: 3px solid green;
	border-bottom: 3px solid red;
	border-left: 3px solid pink;
	width: 15px;
	height: 15px;
	-webkit-animation: spinbz 2s linear infinite;
	animation: spinbz 2s linear infinite;
	margin-top: 1px;
	margin-bottom: 0px;
}
.loaderB {
	border: 6px solid #f3f3f3;
	border-radius: 50%;
	border-top: 6px solid blue;
	border-right: 6px solid green;
	border-bottom: 6px solid red;
	border-left: 6px solid pink;
	width: 48px;
	height: 48px;
	-webkit-animation: spinbz 2s linear infinite;
	animation: spinbz 2s linear infinite;
	margin-top: 135px;
	margin-bottom: 0px;
}
@-webkit-keyframes spinbz {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spinbz {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.det {padding:0px;font-size:92%}
.det table tr td {background-color:lavender;color:black;vertical-align: middle; border-width: 0px 0px 0px 0px !important;}
.det table tr td em {opacity: 0.5;}
.det img {max-height: 12px; border-width: 0px 0px 0px 0px;display: inline-block;width: auto;margin: 0px 0px;float: none !important;}
.det table td:nth-child(2) {text-align: center !important;}
.det .min {width:36px}
.det .side {width:47%}
.det .center {width:6%;text-align:center}
.det .left {float:left;text-align:left}
.det .right {float:right;text-align:right}
.det .green-red {width:18px;color:red;font-weight:bolder;position:relative;display:inline-block;vertical-align:top;}
.det .green-red:before,
.det .green-red:after {content:"⇅";position:absolute;top:0;left:0;padding-left:1px;color:green;width:50%;overflow:hidden;}
.monospace {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1;
}

#season_settings ul li div {
	display: inline-block;
	width: 300px;
}
#season_settings ul li ul li div {
	display: inline-block;
	width: 260px;
}
#season_settings ul li ul li ul li div {
	display: inline-block;
	width: 220px;
}
#season_settings input {
	width: 400px;
}
#season_settings select {
	height: 30px;
	width: 400px;
}
li h5, li h6 {
	display: inline-block;
	padding-top: 5px;
}
.add_tournament, .add_stage, .delete_stage {
	display: inline-block;
	cursor: pointer;
	width: auto !important;
}
.pressrelease {
	white-space: pre-wrap;
	font-family:monospace;
	font-size: 1.2em;
	line-height: 1;
	border: 1px dashed grey;
	padding: 0 5px;
}
.pressrelease-title {
	font-weight: bold;
	cursor: pointer;
}
.mailSubject {
	width: 100%
}

/* ---------------------------------------------------
    OVERLAY MASK
----------------------------------------------------- */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}
.overlay:target {
    display: block;
}
