a:link       {
	font-family: Arial;
	font-size: 11px;
	color: #0031CE;
	text-decoration : none;
}
a:visited    {
	font-family: Arial;
	font-size: 11px;
	color: #0031CE;
	text-decoration : none;
}
a:hover      {
	font-family: Arial;
	font-size: 11px;
	color: #000044;
	text-decoration : none;
}

.top           {
	font-family: Arial;
	font-size: 32px;
	font-weight : bold;
}
h1           { font-family: Arial; font-size: 20px; }
h2           {
	font-family: Arial;
	font-size: 15px;
}
h3           { font-family: Arial; font-size: 12px; }
h6 {
	font-family : Arial;
	font-size : 6px;
	font-weight : normal;
}

table        {
	font-family: Arial;
	font-size: 12px;
	border-bottom : 1px solid #7c82a4;
}
td           {
	border-top: 1px solid #7c82a4;
	vertical-align: top;
}
TH {
	border : #7c82a4;
}

small        {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color : Navy;
}
body         {
	font-family: Arial;
	font-size: 12px;
	color: Black;
	text-align: Center;
	margin-top : 4px;
	margin-bottom : 0px;
}

A.a1:VISITED {
	font-family: Arial;
	font-size: 11px;
	color: #0031ce;
	text-decoration : none;
}

A.a1:HOVER {
	font-family: Arial;
	font-size: 11px;
	color: #666699;
	text-decoration : none;
}

.text0 {
	font-family : Arial;
	font-size : 9px;
}

.text10 {
	font-family : Arial;
	font-size : 10px;
}

.text11 {
	font-family : Arial;
	font-size : 11px;
}

.text12 {
	font-family : Arial;
	font-size : 12px;
}


.text15 {
	font-family : Arial;
	font-size : 15px;
}
.text15b {
	font-family : Arial;
	font-size : 15px;
	font-weight : bold;
}

.text20b {
	font-family : Arial;
	font-size : 20px;
	font-weight : bold;
}
.pr_str {
	width: 8px;
	height: 10px;
	margin: 0pt 0pt 0px 0pt;
        font-size: 8pt;
        vertical-align: top;
}
						     